In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('/Users/jay/github/시도별 전출입 인구수.xlsx')

In [12]:
df.drop(index=0, inplace=True)

In [18]:
df[df['전입지별'] == '서울특별시']

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
2,NaN,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
20,NaN,서울특별시,1232619,1158556,985945,1345508,1511726,2401970,2041724,2212213,...,1426213,1286855,1199708,1215122,1069300,1053008,1098023,1129529,1061915,1018807
38,NaN,서울특별시,24263,30144,18260,24251,30284,59914,43416,42685,...,25249,24459,23116,23016,21437,19621,20616,19441,19236,19460
56,NaN,서울특별시,-,-,-,-,-,-,-,-,...,14824,15469,13915,13310,13838,13673,13735,13038,12802,13011
74,NaN,서울특별시,-,-,-,-,-,-,-,-,...,40479,38858,35670,33008,32216,33017,34380,33570,32486,32528
92,NaN,서울특별시,-,-,-,-,-,-,-,-,...,14708,14035,12642,11917,11811,10964,11518,10860,10432,10561
110,NaN,서울특별시,-,-,-,-,-,-,-,-,...,17325,17439,15793,14890,14570,14156,14172,13559,13726,14118
128,NaN,서울특별시,-,-,-,-,-,-,-,-,...,6262,6512,6484,6278,6799,6347,6458,6954,6750,6708
146,NaN,서울특별시,-,-,-,-,-,-,-,-,...,-,-,-,-,1015,1095,1497,2228,2812,3195
164,NaN,서울특별시,95388,95423,90470,107177,107518,207641,144524,154021,...,323515,317952,285963,272407,254175,246464,249701,239557,234357,234448
182,NaN,서울특별시,34563,38588,32497,40922,42649,74065,52651,52262,...,24484,24376,22798,21559,21324,19954,20174,20030,19877,19761
200,NaN,서울특별시,37625,39139,29513,36260,40154,72525,50313,50472,...,15672,15612,14561,13753,13624,13209,13291,13197,13032,12961
218,NaN,서울특별시,67033,63565,40803,53320,61038,115149,81692,76119,...,26659,26072,23115,21674,20638,19680,19841,19144,18726,18582
236,NaN,서울특별시,71785,63688,39692,55168,60827,118342,83263,75212,...,23012,21188,18777,17600,17180,15495,15902,14830,14993,14930
254,NaN,서울특별시,75871,70920,41044,59763,69361,125081,94332,87967,...,20442,19007,17766,16298,15818,14595,14607,13884,14568,13665
272,NaN,서울특별시,59129,63329,41532,61129,67374,124398,87716,79224,...,20524,19784,18395,17319,17694,16561,16796,16478,16087,15681
290,NaN,서울특별시,40077,43468,27238,39862,44321,81239,64652,52106,...,19890,19615,18680,18329,18230,16841,17144,16781,17169,17312
308,NaN,서울특별시,3881,4885,2339,7411,8470,14272,9900,10103,...,6100,5955,5632,5268,5612,5410,5739,6351,6634,7209